[Unit]
Description=Docker Compose Application
StartLimitIntervalSec=120
StartLimitBurst=3

[Service]
EnvironmentFile=/home/cloud-compose/.env
ExecStart=/mnt/disks/data/up
ExecStop=/mnt/disks/data/down
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
