[Unit]
Description=Rotate GCP service-account keys for Cloud Compose
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/mnt/disks/data

[Service]
Type=oneshot
ExecStart=/etc/cloud-compose/libexec/sitectl-host.sh keys daily
User=root
Group=root
TimeoutStartSec=1h
