[Unit]
Description=Cloud Compose Rollout API
After=network-online.target cloud-compose.service
Wants=network-online.target
RequiresMountsFor=/mnt/disks/data

[Service]
User=cloud-compose
Group=cloud-compose
WorkingDirectory=/mnt/disks/data
ExecStart=/bin/bash /home/cloud-compose/run-rollout-service.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
