[Unit]
Description=Cloud Compose MariaDB Backup
After=cloud-compose.service
RequiresMountsFor=/mnt/disks/data

[Service]
Type=oneshot
User=cloud-compose
Group=cloud-compose
ExecStart=/bin/bash /home/cloud-compose/mariadb-backup.sh
TimeoutStartSec=12h
