[Unit]
Description=Mount Cloud Compose Docker volume overlays
Before=docker.service cloud-compose.service
RequiresMountsFor=/mnt/disks/data /mnt/disks/volumes /mnt/disks/data/docker/volumes

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/etc/cloud-compose/libexec/sitectl-host.sh overlays
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
