[Unit]
Description=Docker Compose Application
PartOf=docker.service
After=docker.service

[Service]
User=cloud-compose
Group=cloud-compose
EnvironmentFile=/home/cloud-compose/.env
ExecStart=/mnt/disks/data/up
ExecStop=/mnt/disks/data/down
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
