[Unit]
Description=Rotate GCP service-account keys for Cloud Compose
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/mnt/disks/data

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/libexec/cloud-compose/run-root-program.sh rotate-keys-daily.sh
User=root
Group=root
TimeoutStartSec=1h
