[Unit]
Description=Docker Compose Application
BindsTo=docker.service
After=docker.service
StartLimitIntervalSec=120
StartLimitBurst=3

[Service]
Environment="HOME=/home/cloud-compose"
WorkingDirectory=/mnt/disks/data/compose
ExecStartPre=-/bin/bash /home/cloud-compose/rotate-keys-app.sh
ExecStart=/mnt/disks/data/up
ExecStop=/mnt/disks/data/down
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
