[Unit]
Description=Cloud Compose MariaDB Backup
After=cloud-compose.service
RequiresMountsFor=/mnt/disks/data

[Service]
Type=oneshot
User=cloud-compose
Group=cloud-compose
ExecStart=/etc/cloud-compose/libexec/sitectl-host.sh backup mariadb
TimeoutStartSec=12h
