[Unit]
Description=Isolate GCP metadata from containers and unprivileged host processes
Requires=docker.service
After=docker.service
PartOf=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/cloud-compose/configure-metadata-firewall.sh
RemainAfterExit=yes
TimeoutStartSec=2min

[Install]
WantedBy=multi-user.target
