[Unit]
Description=Delay Internal Services until 20m after initial boot

[Timer]
# if no traffic after creation this machine will suspend after 21m30s
OnBootSec=20min
Unit=internal-services.service

[Install]
WantedBy=timers.target
