[Unit]
Description=Delay Internal Services until 10m after initial boot

[Timer]
OnBootSec=20min
RuntimeMaxSec=20min
Unit=internal-services.service

[Install]
WantedBy=timers.target
