[Unit]
Description=Delay Internal Services until 10m after initial boot

[Timer]
OnBootSec=10min
RuntimeMaxSec=10min
Unit=internal-services.service

[Install]
WantedBy=timers.target
