[Unit]
Description=Internal Services (Ping, Metrics, Power Management)
BindsTo=docker.service
After=cloud-compose.service
Requires=internal-services.timer
After=internal-services.timer
StartLimitIntervalSec=120
StartLimitBurst=3

[Service]
User=cloud-compose
Group=cloud-compose
Environment="HOME=/home/cloud-compose"
WorkingDirectory=/mnt/disks/data/libops-internal
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
