[Unit]
Description=Update LibOps Managed Runtime
After=network-online.target docker.service
Wants=network-online.target
RequiresMountsFor=/mnt/disks/data /mnt/disks/volumes /mnt/disks/data/docker/volumes

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/bin/bash /etc/cloud-compose/libexec/run-root-program.sh libops-managed-runtime.sh update
TimeoutStartSec=1h
StandardOutput=journal
StandardError=journal
SyslogIdentifier=libops-managed-runtime
