[Unit]
Description=Run LibOps Managed Runtime Updates

[Timer]
OnBootSec=15min
OnUnitInactiveSec=24h
RandomizedDelaySec=30min
Persistent=true
Unit=libops-managed-runtime.service

[Install]
WantedBy=timers.target
