networks:
  internal:
services:
  libops-lightsout:
    image: ghcr.io/libops/lightsout:main@sha256:b61680d4c2ad03f9cfe1f47341eec128df8782a453bcfd708068a6d5c8877a02
    ports:
      - "8808:8808"
    networks:
      - internal
    restart: unless-stopped
    environment:
      INACTIVITY_TIMEOUT: 90
      GCP_PROJECT: ${GCP_PROJECT}
      GCP_ZONE: ${GCP_ZONE}
      GCP_INSTANCE_NAME: ${GCP_INSTANCE_NAME}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/disks/data:/mnt/disks/data
  libops-cadvisor:
    image: ghcr.io/google/cadvisor:v0.53.0@sha256:c3770bd6fc6c6a9cb2b47143e6b3cc3fdd9d20a8453dffbb7e09a145e7e0c4e4
    command:
      - -disable_metrics
      - cpu_topology,referenced_memory,disk,memory_numa,perf_event,sched,tcp,udp
      - -store_container_labels
      - "false"
    privileged: true
    devices:
      - /dev/kmsg
    networks:
      - internal
    restart: unless-stopped
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /mnt/disks/data/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
  libops-cap:
    image: ghcr.io/libops/cap:main@sha256:e81950f30fd31dcbbe5ce024b87335aa6be4e24553df2744769267715e404364
    networks:
      - internal
    restart: unless-stopped
    environment:
      GCP_PROJECT: ${GCP_PROJECT}
      GCP_ZONE: ${GCP_ZONE}
      GCP_INSTANCE_NAME: ${GCP_INSTANCE_NAME}
      CADVISOR_HOST: "libops-cadvisor:8080"
    depends_on:
      - libops-cadvisor
