#cloud-config

users:
- name: cloud-compose
  shell: /bin/bash
groups:
  - developers

bootcmd:
- fsck.ext4 -tvy $(readlink -f /dev/disk/by-id/google-data) || mkfs.ext4 -m 0 -E lazy_itable_init=0,lazy_journal_init=0,discard $(readlink -f /dev/disk/by-id/google-data)
- mkdir -p /mnt/disks/data
- mount -o discard,defaults $(readlink -f /dev/disk/by-id/google-data) /mnt/disks/data
- chmod a+w /mnt/disks/data

write_files:
${WRITE_FILES_CONTENT}

runcmd:
# block metadata server from docker and non-root
- /sbin/iptables -I FORWARD -d 169.254.169.254/32 -i docker0 -j DROP
- /sbin/iptables -A OUTPUT -m owner ! --uid-owner 0 -d 169.254.169.254/32 -p tcp --dport 80 -j DROP
- bash /home/cloud-compose/host-conf.sh
- bash /home/cloud-compose/host-init.sh
- bash /home/cloud-compose/init-app.sh
- systemctl start cloud-compose.service
- systemctl start internal-services.service
- systemctl start cron.timer
